<div class="back">
    <a href="index.html">Back to all books</a>
</div>

<form id="order_form" class="clearfix">

    <div class="input_wrapper">
        <input id="first" type="text" class="order_prop" placeholder="First Name"/>
    </div>

    <div class="input_wrapper">
        <input id="last" type="text" class="order_prop" placeholder="Last Name"/>
    </div>

    <div class="input_wrapper">
        <input id="email" type="email" class="" placeholder="Email"/>
    </div>

    <button type="button" id="rent_book_btn" onclick="rentBook()" class="right rent_book" >Rent</button>

</form>